@model EnergyReadingsViewModel

@{
    ViewBag.Title = "Energy Readings - Day";
}

<p></p>
<div class="row">
    <div class="col-md-12"><h1>Energy Readings - Day</h1></div>
</div>
<div class="row">
    <div class="col-md-12">&nbsp;</div>
</div>
@if (!Model.IsDatabaseAvailable)
{
    <div class="jumbotron">
        Database Unavailable
    </div>
}
else
{
    <div class="row">
        <div id="graph"></div>
    </div>
    <div class="row">
        <div class="col-sm-2">@Html.ActionLink("Back 1 day", "DayGraph", "Report", new { targetDate = Model.TargetDate.AddDays(-1).ToString("yyyy-MM-dd") }, null)</div>
        <div class="col-sm-2 col-sm-offset-6">@Html.ActionLink("Forward 1 day", "DayGraph", "Report", new { targetDate = Model.TargetDate.AddDays(1).ToString("yyyy-MM-dd") }, null)</div>
    </div>
    <div>Total Day Energy Production <span id="totalProduction"></span> kWh</div>
    <div>Maximum Energy <span id="maximumProduction"></span> W</div>
    <div>Sunrise <span id="sunrise"></span></div>
    <div>Sunset <span id="sunset"></span></div>
    <div>Sun Azimuth <span id="sunAzimuth"></span></div>
}

<div id="targetDate" data-isodate='@Model.TargetDate.ToString("yyyy-MM-dd")'></div>

@section Scripts {
    @Scripts.Render("~/bundles/moment")
    <script src="~/Scripts/d3/d3.min.js"></script>
    @Scripts.Render("~/bundles/energyreadingsday")
}
