@model EnergyReadingsViewModel

@{
    ViewBag.Title = "Home Page";
}



<p></p>
<div class="row">
    <div class="col-md-4"><h1>Energy Readings</h1></div>
</div>
<p></p>
<p></p>
<div id="graph"></div>


@if (Model.IsDatabaseAvailable)
{
    foreach (var item in Model.EnergyReadings) { 
        <div class="row">
            <div class="col-md-3">@item.Timestamp</div>
            <div class="col-md-3">@item.CurrentEnergy</div>
            <div class="col-md-3">@item.DayEnergyInstant</div>
        </div>
    }
}
else
{
    <div class="jumbotron">
        Database Unavailable
    </div>
}
<div id="graphData" data-energyreadings="@Model.GraphData"></div>

@section Scripts {
    @Scripts.Render("~/bundles/d3")
    @Scripts.Render("~/bundles/energyreadings")
}